@font-face {
  font-family: "Plain-Regular";
  src: url("../fonts/Plain-Regular.woff2") format("woff2"), url("../fonts/Plain-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plain-Light";
  src: url("../fonts/Plain-Light.html") format("woff2"), url("../fonts/Plain-Light.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Plain-Bold";
  src: url("../fonts/Plain-Bold.html") format("woff2"), url("../fonts/Plain-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --primary-color: #9a14e7;
  --secondary-color: #ff0000;
  --white-color: #ffffff;
  --dark-color: #171819;
  --project-bg: #f0f8ff;
  --menu-bg: #2b1c74;
  --title-color: #15141a;
  --gray-color: #909090;
  --link-color: #404040;
  --p-color: #333;
  --base-font-family: "Plain-Light", sans-serif;
  --title-font-family: "Plain-Regular", sans-serif;
  --font-bold-family: "Plain-Bold", sans-serif;
  --font-weight-bold: bold;
  --h1-font-size: 42px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --h4-font-size: 20px;
  --h5-font-size: 16px;
  --p-font-size: 16px;
  --base-font-size: 16px;
  --menu-font-size: 14px;
  --border-radius-large: 100px;
  --border-radius-small: 5px;
}

body {
  background: var(--white-color);
  font-family: var(--base-font-family);
}

.center-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.end-content {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: end;
}

.card-body img {
  width: 100px;
}

/*---------------------------------------
     TYPOGRAPHY              
  ---------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  line-height: inherit;
}

h1 {
  color: var(--title-color);
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: 100;
}

h3 {
  font-size: var(--p-font-size);
  color: var(--gray-color);
  font-weight: 100;
  margin-bottom: 0;
}

h4 {
  color: var(--dark-color);
  font-size: 22px;
  font-weight: 400;
  font-family: 'Kalam', cursive;
}
h5 {
  font-size: var(--h5-font-size);
  color: var(--gray-color);

}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  line-height: 1.5em;
}
span{
  color: #000000;
}

b,
strong {
  letter-spacing: 0;
  color: var(--secondary-color);
}

a.link {
  color: #007bff;
  text-decoration: underline;
}

/*  BLOCKQUOTES */

.quote {
  position: relative;
  margin: 0;
}

.quote::after {
  content: "“";
  position: absolute;
  bottom: -80px;
  left: 20px;
  font-family: times;
  color: var(--gray-color);
  font-weight: var(--font-weight-bold);
  font-size: 14em;
  line-height: 0;
  opacity: 0.1;
}

blockquote {
  border-left: 5px solid rgba(0, 0, 0, 0.05);
  display: block;
  margin: 42px 0;
  padding: 14px 22px;
  color: rgba(0, 0, 0, 0.5);
}

/* BUTTON */
.custom-btn.btn-bg {
  background: var(--white-color);
  color: var(--primary-color);
  border-color: transparent;
  transition: all 0.3s ease;
}
.page-link{
  border: 1px solid var(--dark-color);
  border-radius: var(--border-radius-large);
  color: var(--dark-color);
  
}
.page-link:hover, .page-link:focus{
  background: #000;
  color: var(--white-color);
  border-color: transparent;
}
/*---------------------------------------
     GENERAL               
  -----------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  font-weight: normal;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: var(--secondary-color);
  outline: none;
  text-decoration: none;
}

::selection {
  background: var(--secondary-color);
  color: var(--white-color);
}

.section-padding {
  padding: 2.5em 0;
}

.section-padding-half {
  padding: 3em 0;
}

.google-map iframe {
  display: block;
  width: 100%;
}

/* ----------------------------------------------------------------- */

/* question Card */
.question-card {
  background: #030d99;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 2px 25px rgba(10, 10, 10, 0.5);
}

.form-check-input {
  margin-top: 20px;
  color: #ffffff;
  border: #000 2px solid;
}

.form-check-label {
  margin: 16px 2px 0 2px;
  font-family: 'Kalam', cursive;  
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  /* border: #000 2px solid; */
  /* text-transform: uppercase; */
  /* font-weight: 400; */
}

.gif{
  right: 5%;
  top: 15%;
}
img{
  width: 200px;
  height: 100px;
}
.container-fluid{
  margin-top: 10%;
}
.container{
  width: 80dvh;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.3);
}
.login-form{
  padding: 15px;
}
.form-group{
  padding: 5px;
  align-items: center;
}
.form-group input{
  /* font-family: 'Kalam', cursive; */
  font-size: 18px;
  font-size: 16px;
  display: block;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.form-group input:focus{
  border-color: #333;
}
.gender{
  padding: 10px;
  color: #747474;
}
/* Back on top */
/* #btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  box-shadow: 2px 1px 2px #000000;

} */

/*---------------------------------------
     FOOTER              
  -----------------------------------------*/

ol {
  margin: 0 0 1.5em 2em;
  word-wrap: break-word;
}

.list-numbered {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
}

.list-numbered>li {
  position: relative;
  margin: 0 0 2rem 1.5rem;
  padding: 0.5rem 1rem 0.5rem 2rem;
  list-style: none;
  border-left: 0.5px solid #407bff;
}

.list-numbered>li:before {
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem;
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: -0.4rem;
  left: -1.5rem;
  box-sizing: border-box;
  margin-right: 0.5rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
  border: 0.5px solid #407bff;
  background-color: #407bff;
  border-radius: 50%;
  line-height: 1.5rem;
}

/*---------------------------------------
     FOOTER              
  -----------------------------------------*/

.site-footer {
  background: var(--dark-color);
  padding: 4em 0 3em 0;
}

.site-footer a {
  color: #909090;
}

.site-footer a:hover,
.footer-icon {
  color: var(--secondary-color);
}

.footer-link li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

.copyright-text,
.footer-link,
.site-footer .social-icon {
  margin-top: 6em;
}

.site-footer p {
  color: #909090;
}

/*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 4em 0 0 0;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  text-decoration: none;
  display: inline-block;
  font-size: var(--base-font-size);
  margin: 10px;
  text-align: center;
}

.contact-form {
  display: flex;
  justify-content: space-between;
  background: #F2F2F2;
  margin: 50px 0;
}

.contact-form>* {
  width: 50%;
}

.contact-form .first-container {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../colorlib.com/etc/cf/ContactFrom_v17/images/bg-01.jpg") center center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form .first-container .info-container div {
  margin: 24px 0;
}

.contact-form .first-container .info-container div h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  padding-bottom: 10px;
}

.contact-form .first-container .info-container div:first-of-type p {
  max-width: 260px;
  color: #999;
}

.contact-form .first-container .info-container div p {
  font-size: 16px;
  line-height: 1.6;
  color: #00ad5f;
}

.contact-form .second-container {
  padding: 30px;
}

.contact-form .second-container h3 {
  font-size: 30px;
  font-weight: 400;
  color: #333;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

.contact-form .second-container form {
  display: flex;
  flex-direction: column;
}

.contact-form .second-container form .form-group {
  margin-bottom: 10px;
}

.contact-form .second-container form .form-group * {
  min-height: 55px;
  border: 1px solid #e6e6e6;
  padding: 0 20px;
}

.contact-form .second-container form .form-group label {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #e6e6e6;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  margin-top: -1px;
}

.contact-form .second-container form .form-group:first-of-type input {
  width: 50.1%;
  margin-right: -5px;
}

.contact-form .second-container form .form-group input {
  width: 100%;
  font-size: 15px;
  margin-top: -2px;
}

.contact-form .second-container form .form-group input::placeholder,
.contact-form .second-container form .form-group textarea::placeholder {
  color: #999;
}

.contact-form .second-container form .form-group textarea {
  width: 100%;
  min-height: 80px;
  resize: none;
  padding: 10px 20px;
  margin-top: -1px;
}

.contact-form .second-container form button {
  width: 200px;
  height: 50px;
  background: #00ad5f;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  position: relative;
  left: calc(50% - 100px);
  cursor: pointer;
}

.contact-form .second-container form button:hover {
  background: #333;
}

@media screen and (max-width: 800px) {
  .contact-form {
    width: 90vw;
  }
}

@media screen and (max-width: 700px) {
  .contact-form {
    flex-direction: column-reverse;
  }

  .contact-form>* {
    width: 100%;
  }

  .contact-form .first-container {
    padding: 40px 0;
  }
}

/*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

@media screen and (min-width: 1200px) {
  .about-info h2 {
    max-width: 70%;
  }
}

@media screen and (max-width: 1199px) {

  .copyright-text,
  .footer-link,
  .site-footer .social-icon {
    margin-top: 3em;
    padding: 0;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  .footer-link,
  .site-footer .social-icon {
    margin-top: 1em;
  }

  .copyright-text {
    margin: 2.5em 0 1em 0;
  }

  .footer-link li {
    margin-left: 0;
  }
}